<IfModule mod_passenger.c>
Options -MultiViews
PassengerResolveSymlinksInDocumentRoot on
#Set this to whatever environment you'll be running in
RailsEnv production
RackBaseURI /home3/nayabeic/rails_apps/gullery
SetEnv GEM_HOME /home3/nayabeic/ruby/gems
</IfModule>